In [2]:
import pandas as pd

# first we import pandas

In [3]:
import numpy as np

 then we import numpy on  top of which the pandas is built

in this topic let us see about series in pandas

In [16]:
labels=["a","b","c"]
my_data=[10,20,30]
arr=np.array(my_data)

FIRST WE DECLARE A LIST WHICH has letters and another list with numbers

In [10]:
arr

array([10, 20, 30])

THEN WE USE A METHOD IN PANDAS CALLED Series which

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
di={"a":10,"b":20,"c":30}

In [13]:
pd.Series(di)

a    10
b    20
c    30
dtype: int64

In [5]:
ser1=pd.Series([1,2,3,4],['USA','USSR','GERMANY','INDIA'])
ser1

USA        1
USSR       2
GERMANY    3
INDIA      4
dtype: int64

In [6]:
ser1=pd.Series([1,2,5,4],['USA','USSR','ITALY','INDIA'])
ser1

USA      1
USSR     2
ITALY    5
INDIA    4
dtype: int64

In [7]:
ser1['USA']

1

In [8]:
ser1['INDIA']

4

In [20]:
ser3=pd.Series(labels)

In [22]:
ser3[0]

'a'

In [23]:
ser1

USA      1
USSR     2
ITALY    5
INDIA    4
dtype: int64

In [24]:
ser2

NameError: name 'ser2' is not defined

In [25]:
ser2=pd.Series([1,2,3,4],['USA','USSR','GERMANY','INDIA'])
ser2

USA        1
USSR       2
GERMANY    3
INDIA      4
dtype: int64

In [26]:
ser1

USA      1
USSR     2
ITALY    5
INDIA    4
dtype: int64

In [27]:
ser2

USA        1
USSR       2
GERMANY    3
INDIA      4
dtype: int64

In [28]:
ser1+ser2

GERMANY    NaN
INDIA      8.0
ITALY      NaN
USA        2.0
USSR       4.0
dtype: float64